<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Table to CSV Generator</div>

                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th v-for="column in columns" :key="column.id">
                                    <input type="text"
                                           class="form-control"
                                           :value="column.key"
                                           @input="updateColumnKey(column, $event)"
                                    />
                                </th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(row, index) in data">
                                    <td v-for="column in columns" :key="column.id">
                                        <input type="text" class="form-control" v-model="row[column.key]"/>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" type="button" v-on:click="remove_row(index)">X</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-secondary" v-on:click="add_column()">Add Column</button>
                        <button type="button" class="btn btn-secondary" v-on:click="add_row()">Add Row</button>
                    </div>

                    <div class="card-footer text-right">
                        <button class="btn btn-primary" type="button" @click="submit()">Export</button>
                        <button type="button" class="btn btn-success" v-if="url_to_file" v-on:click="download()">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "CSVGenerator",

        data() {
            return {
                data: [
                    {
                        first_name: 'John',
                        last_name: 'Doe',
                        email_address: 'john.doe@example.com'
                    },
                    {
                        first_name: 'John',
                        last_name: 'Doe',
                        email_address: 'john.doe@example.com'
                    },

                ],
                columns: [
                    {key: 'first_name', id: 1},
                    {key: 'last_name', id: 2},
                    {key: 'email_address', id: 3},
                ],
                last_column_id: 3,
                new_column_template: "new_column_",
                url_to_file: false,
                errors:{}
            }
        },

        methods: {
            add_row() {
                this.hideDownloadButton();
                let row = {};
                for (let column of this.columns) {
                    row[column.key] = '';
                }
                this.data.push(row);
            },

            remove_row(row_index) {
                this.hideDownloadButton();
                this.data.splice(row_index, 1);
            },

            add_column() {
                this.hideDownloadButton();
                this.last_column_id++;
                let newColumnName = this.new_column_template + this.last_column_id;
                this.columns.push({"key": newColumnName, "id": this.last_column_id});
                for (let row of this.data) {
                   row[newColumnName] = '';
                }
            },

            updateColumnKey(column, event) {
                this.hideDownloadButton();

                this.setUniqueColumnKey(column, event);

                // rename column key
                let oldKey = column.key; // old key
                column.key = event.target.value; // set new key

                // update data columns
                this.data.forEach(
                    (row) => {
                        row[column.key] = row[oldKey];
                        delete row[oldKey];
                    }
                )
            },

            hideDownloadButton() {
                this.url_to_file = false;
            },

            setUniqueColumnKey(column, event) {
                let newColumnKey = event.target.value;
                let existingColumn = this.columns.find(column => column.key === newColumnKey)

                if (existingColumn !== undefined) {
                    newColumnKey = prompt('Enter unique column:', newColumnKey)
                    event.target.value = newColumnKey;
                    this.setUniqueColumnKey(column, event)
                }
            },

            submit() {
                axios.post('/api/csv-export', this.data)
                    .then((response) => {
                        this.url_to_file = response.data.data.url;
                    }).catch((error) => {
                        this.errors = error.response.data;
                    });
            },

            download() {
                window.open(this.url_to_file, "_blank");
                this.url_to_file = false;
            }
        }
    }
</script>

<style scoped>

</style>
