<template>
    <div class="card">
        <div class="card-header">Order Compiler</div>
        <div class="alert alert-success" v-if="show_success">
            <strong>Success!</strong> Order compiled successfully!
        </div>
        <div class="alert alert-danger" v-if="show_error">
            <strong>Danger!</strong>
            <ul v-if="errors.status !== undefined">
                <li>{{errors.title}}</li>
                <li>{{errors.detail}}</li>
            </ul>
            <ul v-else v-for="errorArray in errors">
                <li v-for="error in errorArray">{{error}}</li>
            </ul>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Order Qty</th>
                <th>Final Order Qty</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" v-model.number="order"/>
                </td>
                <td>
                    <input type="text" class="form-control" v-model="final_order" readonly/>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success" v-on:click="compile()">
            Compile Order
        </button>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Package Set</th>
                <th>Package Qty</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(packageSet, qty) in order_set">
                <td>
                    <input type="text" class="form-control" v-bind:value="packageSet" readonly/>
                </td>
                <td>
                    <input type="text" class="form-control" v-bind:value="qty" readonly/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="card-body"></div>
    </div>
</template>

<script>
    export default {
        name: "OrderCompiler",

        data() {
            return {
                order: 0,
                final_order: 0,
                order_set: {},
                errors: {},
                show_success: false,
                show_error: false,
            }
        },

        watch: {
            order: function (value) {
                this.order = Number(value);
                this.show_success = false;
                this.order_set = {};
                this.final_order = 0;
            }
        },

        methods: {
            compile() {
                let params = {
                    params: {
                        quantity: this.order
                    }
                }
                axios.get('/api/order-compile', params)
                    .then((response) => {
                        this.final_order = response.data.data.total_items_qty;
                        delete response.data.data.total_items_qty;
                        this.order_set = response.data.data;
                        this.show_success = true;
                        this.show_error = false;
                    }).catch((error) => {
                        this.errors = error.response.data.errors;
                        this.show_error = true;
                    });
            },
        }
    }
</script>

<style scoped>

</style>
