<template>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">Package Editor</div>

                    <div class="card-body">
                        <div class="alert alert-success" v-if="show_success">
                            <strong>Success!</strong> Changes to packages successfully saved!
                        </div>
                        <div class="alert alert-warning" v-if="show_warning">
                            <strong>Warning!</strong> Packages changes are not saved yet!
                        </div>
                        <div class="alert alert-danger" v-if="show_error">
                            <strong>Danger!</strong>
                            <ul v-for="errorArray in errors">
                                <li v-for="error in errorArray">{{error}}</li>
                            </ul>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Package ID</th>
                                <th>Package Set Qty</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(packageSet, index) in packages" :key="packageSet.id">
                                    <td>
                                        <input type="text" class="form-control" v-bind:value="packageSet.id" readonly/>
                                    </td>
                                    <td>
                                        <input type="text"
                                               class="form-control"
                                               :value="packageSet.pack_qty"
                                               v-on:input="update_package(packageSet, $event)"
                                        />
                                    </td>
                                    <td>
                                        <button class="btn btn-danger"
                                                type="button"
                                                v-on:click="remove_row(index)"
                                        >
                                            X
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button"
                                class="btn btn-secondary"
                                v-if="packages_changed"
                                v-on:click="undo_changes()"
                        >
                            Undo Changes
                        </button>
                        <button type="button" class="btn btn-secondary" v-on:click="add_row()">Add Row</button>
                        <button type="button"
                                class="btn btn-success"
                                v-if="packages_changed"
                                v-on:click="submit_new_package_set()"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <order-compiler></order-compiler>
            </div>
        </div>
    </div>

</template>

<script>
    import OrderCompiler from "./OrderCompiler";
    export default {
        name: "PackageEditor",
        components: {OrderCompiler},
        data() {
            return {
                packages: {},
                errors:{},
                packages_changed: false,
                show_success: false,
                show_warning: false,
                show_error: false,
            }
        },

        mounted:function(){
            this.get_packages_set();
            this.package_changed = false;
        },

        methods: {
            add_row() {
                this.packages.push({pack_qty: ''});
                this.packages_changed = true;
                this.show_warning = true;
                this.show_success = false;
            },

            remove_row(row_index) {
                this.packages.splice(row_index, 1);
                this.packages_changed = true;
                this.show_warning = true;
                this.show_success = false;
            },

            undo_changes() {
                this.get_packages_set();
                this.packages_changed = false;
                this.show_warning = false;
                this.show_error = false;
            },

            update_package(packageSet, event)
            {
                packageSet.pack_qty = Number(event.target.value);
                this.packages_changed = true;
                this.show_warning = true;
                this.show_success = false;
            },

            get_packages_set() {
                axios.get('/api/packages')
                    .then((response) => {
                        this.packages = response.data.data;
                    }).catch((error) => {
                    this.errors = error.response.data;
                });
                this.packages_changed = false;
                this.show_warning = false;
                this.show_success = false;
                this.errors = false;
            },

            submit_new_package_set() {
                axios.post('/api/packages', {"data": this.packages})
                    .then((response) => {
                        this.packages = response.data.data;
                        this.packages_changed = false;
                        this.show_success = true;
                        this.show_warning = false;
                        this.show_error = false;
                    }).catch((error) => {
                        this.errors = error.response.data.errors;
                        this.show_error = true;
                        this.show_warning = false;
                    });
            },
        }
    }
</script>

<style scoped>

</style>
